body{
    background: #f3dcc7;
    margin: auto;
}
header{
    background-image: linear-gradient(100deg,#5D3A27,#BA957A );
    margin: auto;
    padding: 1em;
    display: flex;
}
.logo-contaiener{
    position: absolute;
    padding-left: 40px;
    top: 10px;
    left: 10px;
}
.logo{
    font-family: "Great Vibes", cursive;
    height: 20px;
    display: grid;
}
.btn-nav{
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 20px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace ;
    text-decoration: none;
}
header button{
    color: #f3dcc7;
    border-radius: 10px;
    border: none;
    padding: 07px;
    text-decoration:none;
}

.linha-separacao{
    background: #5D3A27;
    padding-top: 0.5%;
}